In [1]:
import pandas as pd

years = list(range(2015, 2026))
base_url = "https://raw.githubusercontent.com/Tennismylife/TML-Database/master/{}.csv"

dfs = []
for year in years:
    url = base_url.format(year)
    try:
        df = pd.read_csv(url)
        df["year"] = year
        dfs.append(df)
        print(f"{year} cargado")
    except Exception as e:
        print(f"Error en {year}: {e}")

all_matches = pd.concat(dfs, ignore_index=True)

2015 cargado
2016 cargado
2017 cargado
2018 cargado
2019 cargado
2020 cargado
2021 cargado
2022 cargado
2023 cargado
2024 cargado
2025 cargado

In [2]:
# Ver las dimensiones del dataset
print(f"Número total de partidos: {all_matches.shape[0]}")
print(f"Número de columnas: {all_matches.shape[1]}")

# Mostrar las primeras filas
display(all_matches.head())

# Ver nombres de las columnas
print("Columnas disponibles:")
print(all_matches.columns.tolist())

# Ver resumen general
display(all_matches.describe(include='all'))

# Verificar valores nulos por columna
print("\nValores nulos por columna:")
print(all_matches.isnull().sum())

Número total de partidos: 28898
Número de columnas: 50

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,year
0,2015-339,Brisbane,Hard,28,A,20150104.0,1.0,MH30,NaN,WC,...,3.0,4.0,50.0,31.0,20.0,5.0,8.0,1.0,5.0,2015
1,2015-339,Brisbane,Hard,28,A,20150104.0,10.0,KD46,NaN,WC,...,5.0,3.0,52.0,33.0,23.0,7.0,9.0,1.0,4.0,2015
2,2015-339,Brisbane,Hard,28,A,20150104.0,11.0,TA46,NaN,NaN,...,20.0,3.0,70.0,42.0,35.0,14.0,12.0,4.0,6.0,2015
3,2015-339,Brisbane,Hard,28,A,20150104.0,12.0,J386,NaN,NaN,...,10.0,5.0,106.0,68.0,51.0,19.0,16.0,3.0,4.0,2015
4,2015-339,Brisbane,Hard,28,A,20150104.0,2.0,N289,NaN,NaN,...,6.0,1.0,83.0,50.0,26.0,19.0,13.0,3.0,8.0,2015

Columnas disponibles:
['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level', 'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry', 'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'winner_rank', 'winner_rank_points', 'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc', 'loser_age', 'loser_rank', 'loser_rank_points', 'score', 'best_of', 'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'year']

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,year
count,28898,28898,28761,28895.0,28898,2.888300e+04,19100.000000,28852,12471,3621,...,27677.000000,27677.000000,27677.000000,27677.000000,27677.000000,27677.000000,27677.000000,27677.000000,27678.0,28898.000000
unique,1266,693,4,25.0,6,NaN,NaN,842,81,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN
top,2025-580,Australian Open,Hard,32.0,A,NaN,NaN,D643,1,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN
freq,127,1397,16792,9429.0,15571,NaN,NaN,547,862,1927,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2648.0,NaN
mean,NaN,NaN,NaN,NaN,NaN,2.019788e+07,222.726963,NaN,NaN,NaN,...,5.444123,3.321856,82.511146,50.338368,33.891318,14.948080,12.214438,4.792499,NaN,2019.733615
std,NaN,NaN,NaN,NaN,NaN,3.132635e+04,131.254600,NaN,NaN,NaN,...,5.080010,2.530240,29.383726,19.443633,14.560874,7.058472,4.507330,3.301881,NaN,3.132312
min,NaN,NaN,NaN,NaN,NaN,2.015010e+07,1.000000,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,2015.000000
25%,NaN,NaN,NaN,NaN,NaN,2.017052e+07,167.000000,NaN,NaN,NaN,...,2.000000,2.000000,61.000000,36.000000,23.000000,10.000000,9.000000,2.000000,NaN,2017.000000
50%,NaN,NaN,NaN,NaN,NaN,2.019103e+07,273.000000,NaN,NaN,NaN,...,4.000000,3.000000,78.000000,47.000000,32.000000,14.000000,11.000000,4.000000,NaN,2019.000000
75%,NaN,NaN,NaN,NaN,NaN,2.023011e+07,288.000000,NaN,NaN,NaN,...,7.000000,5.000000,99.000000,61.000000,42.000000,19.000000,15.000000,7.000000,NaN,2023.000000
max,NaN,NaN,NaN,NaN,NaN,2.025062e+07,1701.000000,NaN,NaN,NaN,...,67.000000,26.000000,291.000000,218.000000,171.000000,55.000000,50.000000,27.000000,NaN,2025.000000

Valores nulos por columna:
tourney_id                0
tourney_name              0
surface                 137
draw_size                 3
tourney_level             0
tourney_date             15
match_num              9798
winner_id                46
winner_seed           16427
winner_entry          25277
winner_name               0
winner_hand             259
winner_ht               798
winner_ioc               42
winner_age               22
winner_rank             151
winner_rank_points     6873
loser_id                 71
loser_seed            21271
loser_entry           23335
loser_name                0
loser_hand              331
loser_ht               1478
loser_ioc                46
loser_age                51
loser_rank              347
loser_rank_points      7036
score                     2
best_of                   0
round                     6
minutes                1943
w_ace                  1221
w_df                   1221
w_svpt                 1221
w_1stIn                1221
w_1stWon               1221
w_2ndWon               1221
w_SvGms                1221
w_bpSaved              1221
w_bpFaced              1221
l_ace                  1221
l_df                   1221
l_svpt                 1221
l_1stIn                1221
l_1stWon               1221
l_2ndWon               1221
l_SvGms                1221
l_bpSaved              1221
l_bpFaced              1220
year                      0
dtype: int64

In [3]:
# Asegurarse de que las columnas son numéricas y manejar posibles valores no numéricos/nulos
all_matches['winner_rank'] = pd.to_numeric(all_matches['winner_rank'], errors='coerce')
all_matches['loser_rank'] = pd.to_numeric(all_matches['loser_rank'], errors='coerce')

# Eliminar filas donde cualquiera de las columnas sea NaN después de la conversión
matches_with_ranks = all_matches.dropna(subset=['winner_rank', 'loser_rank'])

# Contar el número de filas donde winner_rank es menor que loser_rank
winner_lower_rank_count = (matches_with_ranks['winner_rank'] < matches_with_ranks['loser_rank']).sum()

# Calcular el porcentaje
total_matches_with_ranks = matches_with_ranks.shape[0]
percentage_winner_lower_rank = (winner_lower_rank_count / total_matches_with_ranks) * 100

print(f"Porcentaje de filas donde el winner_rank es menor que el loser_rank: {percentage_winner_lower_rank:.2f}%")

Porcentaje de filas donde el winner_rank es menor que el loser_rank: 64.61%